@import "./_variables.scss";

.adminPanel {
  img {
    height: 30px;
    cursor: pointer;
    filter: opacity(0.5);
    transition: filter 0.3s ease-in-out;
  }

  img:hover {
    filter: opacity(1);
  }

  .admin-realItem {
    margin-top: 20px;
    padding: 5px;
    background-color: $primary-light;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    span {
      margin: 5px;
    }
  }

  .admin-addIcon {
    position: fixed;
    height: 80px;
    bottom: 40px;
    right: 15px;
  }
}
