@import "./_variables.scss";

footer {
  height: $footer-height;
  background-color: $footer-background;
  display: flex;
  align-items: center;
  justify-content: center;
  user-select: none;
}

@media screen and (min-width: 500px) {
  footer {
    position: relative;
    left: $navbar-width-desktop;
    width: calc(100vw - $navbar-width-desktop);
  }
}
