@import "./_variables.scss";

header {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  // box-shadow: rgba(50, 50, 93, 0.25) 0px 6px 12px -2px,
    // rgba(0, 0, 0, 0.3) 0px 3px 7px -3px;
  user-select: none;

  img.logo {
    height: $navbar-height-mobile;
    margin: 5px;
  }
}

@media screen and (min-width: 500px) {
  header {
    flex-direction: row;
    align-items: center;

    img.logo {
      height: 50px;
    }
  }
}
