@import "./_variables.scss";

nav.navbar {
  margin: 5px 0;
  position: absolute;
  top: 0;
  right: 0;
  height: $navbar-height-mobile;
  display: flex;
  align-items: center;
  user-select: none;

  & a img {
    height: clamp(25px, 9vw, $navbar-height-mobile);
    filter: grayscale(0.6);
    margin: 0 5px;
  }

  & a img:hover {
    filter: grayscale(0.2);
  }

  & a img.active {
    filter: grayscale(0);
  }
}

@media screen and (min-width: 500px) {
  nav.navbar {
    position: fixed;
    top: $header-height-desktop;
    left: 0;
    right: auto;
    margin: 0;
    height: calc(100vh - $header-height-desktop);
    flex-direction: column;
    justify-content: center;
    gap: 20px;

    & a img {
      height: 50px;
    }
  }
}
