.path {
  // margin: 5px;
  display: flex;

  a {
    text-decoration: none;
    color: black;
  }

  a:hover {
    text-decoration: underline;
  }

  h1,
  span {
    margin-left: 5px;
    font-family: "BebasRegular";
    font-size: 20px;
  }
}

@media screen and (min-width: 500px) {
  .path {
    h1,
    span {
      font-size: 40px;
      margin-left: 10px;
    }
  }
}
