@import "./_variables.scss";

.real {
  .text-container {
    padding: 10px;
    margin-bottom: 10px;
    position: relative;

    p {
      margin-bottom: 0;
      text-align: left;
    }

    p:last-child {
      margin-bottom: 10px;
    }

    a {
      color: $primary-dark;
      text-decoration: none;
      font-weight: bold;
      img {
        margin-left: 5px;
        height: 20px;
      }
    }

    a:hover {
      text-decoration: underline;
    }
  }

  .tags-container {
    display: flex;
    justify-content: center;
    margin-bottom: 10px;

    img {
      height: 50px;
    }
  }

  .slide {
    img {
      user-select: none;
    }
  }

  li {
    user-select: none;
  }
}
